body{
    text-align: center;
}

a {
    text-decoration: none;
}

div {
    background-color: rgb(156, 219, 240);
    width: 300px;
    height: 200px;
    border: 1px solid #c3c3c3;
    margin: 100px auto;
    padding-top: 20px;
    padding-bottom: 15pxpx;
    padding-left: 30px;
    padding-right: 30px;
}

td {
    text-align: right;
    padding-left: 20px
}
input{
    margin-bottom: 4px;
    margin-top: 6px;
    padding-left: 8px;
}